$primary: #fd7526; 
$secondary: #ffb867;
$info: #7f7f7f;
$black: #000;
$white: #fff;
$code-heading-background: #dededc;
$code-text-color: #b6b6b6;
//$gray-900 // For overriding main text color
$body-bg: #d9dbe2; // BG Main Color
//$body-color: #f7e7ce; //TXT color