polyline, line {
  stroke: white;
}

.caption-1 figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.caption-2 figcaption {
  width: 80%;
  position: absolute;
  bottom: -2rem;
  background: #ddd;
}

.caption-3 figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ddd;
  transform: translateY(-50%);
}


.gallery-thumbnail {
  max-height: 200px;
  min-height: 150px;
  object-fit: cover;
}

.gallery-item {
  background-color: white;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius;
  padding: 8px 4px 8px 4px;
  figcaption{
    padding: 10px;
  }
  img {
    padding: 10px;
    border-radius: $border-radius;
  }
  h2 {
    margin-bottom: 2px;
  }
  p {
    margin-bottom: 0;
  }
  @media screen and (max-width: 992px) {
    padding: 4px 2px 4px 2px;
    img {
      padding: 5px;
    }
    figcaption{
      padding: 5px;
    }
    h2 {
      font-size: 80%;
    }
    p {
      font-size: 80%;
    }
  }
}


// Black and white galleries
.blacky {
  filter: grayscale(100%);
}

// Gallery
 .gallery-ds {
  filter: drop-shadow(0px 0px 8px #c5b8a4);
}

.gallery-photo {
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  overflow: hidden; 
  display: inline-block;
  a {
    //filter: grayscale(100%);
    transition: all .3s;
  }
  a:hover {
    filter: grayscale(0);
    //  transform:scale(1.2);
    //  -ms-transform:scale(1.2); /* IE 9 */
    //  -moz-transform:scale(1.2); /* Firefox */
    //  -webkit-transform:scale(1.2); /* Safari and Chrome */
    //  -o-transform:scale(1.2); /* Opera */
  }
}




// Duotone main 
:root {
  --base:              #c3023c;
  --bg-blend:          lighten;
  --fg-blend:          soft-light;
  --foreground:        #17c7c1;
  --opacity:           1;
  --spacing:           3px;
}

.duotone-wrap {
  background-color:    var(--base);
  display:             flex;
  flex:                1 1 100%;
  height:              100%;
  overflow:            hidden;
  padding:             var(--spacing);
  position:            relative;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.duotone-wrap::before:hover {
  background-color:    var(--base);
}

.duotone-wrap:hover {
  background-color:    var(--foreground);

  img {
    filter:              grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode:      color-dodge;
    opacity:             0.3;
  }
}

.duotone-wrap img {
  filter:              grayscale(100%) contrast(1) blur(var(--blur));
  flex:                1 0 100%;
  height:              100%;
  max-width:           100%;
  mix-blend-mode:      var(--bg-blend);
  object-fit:          cover;
  opacity:             var(--opacity);
  position:            relative;
  width:               100%;
}


.duotone-wrap::before {
  background-color:    var(--foreground);
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:      var(--fg-blend);
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
}


// end duotone

.crop-image {
  width: 200px; /* You can set the dimensions to whatever you want */
  object-fit: contain;
}


// Sticker shadow
.sticker {
  filter: drop-shadow(0px 0px 10px gray);
}

#sticker-paper 
{
 position: relative;
 width: 80%;
 background: #ddd;
 -moz-border-radius: 4px;
 border-radius: 4px;
 padding: 0.5em 0.5em 0.5em 0.5em;
 color: rgba(0,0,0, .8);
 text-shadow: 0 1px 0 #fff;
 line-height: 1.5;
 margin: 60px auto;
}

#sticker-paper:before, #sticker-paper:after 
{
 z-index: -1; 
 position: absolute; 
 content: "";
 bottom: 15px;
 left: 10px;
 width: 50%; 
 top: 90%;
 max-width:300px;
 background: rgba(0, 0, 0, 0.2); 
 -webkit-box-shadow: 0 15px 15px rgba(0,0,0, 0.5);   
 -moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
 -webkit-transform: rotate(-3deg);    
 -moz-transform: rotate(-3deg);   
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
}

#sticker-paper:after 
{
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 10px;
 left: auto;
}

.photo_exif_data {
  padding: 3px 3px 3px 3px;
  @media screen and (max-width: 992px) {
    padding: 0 0 0 0;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.baguetteCustom {
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.6));
  -webkit-drop-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  filter: drop-shadow(rgba(0, 0, 0, 0.6), 0px 0px 8);
}




// Duotone fullscreen

// baguette is using this class if psy gallery is turned on
// if this class is used, then the full-image class are overwritten below with duotone classes
// 
.fullsize_colorful {
  .full-image {
    background-color:    var(--base);
    position:            relative;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .full-image img {
    filter:              grayscale(100%) contrast(1) blur(var(--blur));
    mix-blend-mode:      var(--bg-blend);
    opacity:             var(--opacity);
  }
  
  
  .full-image::before {
    background-color:    var(--foreground);
    mix-blend-mode:      var(--fg-blend);
  }
} 


// end duotone
