/* Sticky footer styles
-------------------------------------------------- */
html, html[data-theme="dark"], html[data-theme="light"] {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth; // Default when not using JQuery scrollTop 
}
*{
  font-family: $font-roboto;
}
body {
  font-family: $font-roboto;

  margin-top: 50px; // Avoiding footer
  margin-bottom: 50px; // Avoiding footer
  
  // @media screen and (max-width: 992px) {
    //    padding-top: 50px;
    //  }
}

  body {
    .container {
    font-family: $font-roboto;
    font-weight: 200;
    padding-top: 1.5rem;
    @media screen and (max-width: 992px) {
      //
    }
  }
  h1 {
    font-family: $font-roboto;
  }

  h2 {
    font-family: $font-roboto;
  }
}
@media screen and (max-width: 992px) {
    body { padding-top: 0px;
      padding-bottom: 0px; }
}

code {
  font-size: 80%;
}


// Turn images to small glyphs when not using an Icon Set
.icon-black {
  filter: brightness(0);
  width: 50px;
}


// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  text-align: center;
  cursor: pointer;
  color: $gray-800;
  background: fade-out($gray-500, .5);
  text-decoration: none;
  border-radius: 30%;
  //transition: all .25s ease-in-out;
  transition: all 0.3s;
  display: none;
  line-height: 45px;
  &:focus,
  &:hover {
    color: $white;
  }
  &:hover {
    background: $gray-400;
  }
  i {
    font-weight: 800;
  }
  &:active {
    color: $black;
  }
}

.about_banner {
  color: #253d2d;
  min-height: 35rem;
  background: linear-gradient(
    to bottom,
    #{fade-out($white, 0.9)} 0%,
    #{fade-out(#d9dbe2, 0.1)} 75%,
    $white 100%
  ),
  url("../img/me.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  i {
    vertical-align:middle;
  }
  
  @media screen and (max-width: 992px) {
    background-position: 65% 80%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.disabled-area {
  pointer-events: none;
  opacity: 0.4;
}

/// dark mode

// html, html[data-theme="light"] {
//   --bold-color: rgb(0, 0, 0);
//   --box-background-color: rgb(249, 249, 250);
//   --highlight-color: hsl(0, 0%, 80%);
//   --light-border-color: rgb(230, 230, 230);
//   --light-text-color: rgb(72, 72, 74);
//   --link-color: rgb(0, 112, 201);
//   --link-color-visited: hsl(250, 100%, 37%);
//   --main-background-color: rgb(255, 255, 255);
//   --main-text-color: rgb(51, 51, 51);
//   --medium-text-color: hsl(0, 0%, 20%);
//   --sidebar-color: hsl(0, 0%, 90%);
//   --underline-color: hsl(0, 0%, 60%);
// }

// html[data-theme="dark"] {
//   --bold-color: rgb(240, 240, 240);
//   --box-background-color: hsl(0, 0%, 20%);
//   --highlight-color: hsl(0, 0%, 60%);
//   --light-border-color: hsl(0, 0%, 30%);
//   --light-text-color: rgb(199, 199, 204);
//   --link-color: rgb( 100, 210, 255);
//   --link-color-visited: hsl(250, 100%, 60%);
//   --main-background-color: rgb(28, 28, 30);
//   --main-text-color: rgb(229, 229, 234);
//   --medium-text-color: hsl(0, 0%, 70%);
//   --underline-color: hsl(0, 0%, 50%); 
// }


// @media (prefers-color-scheme: dark) {
//     html, html[data-theme="dark"] {
//       --bold-color: rgb(255, 255, 255);
//       --box-background-color: hsl(0, 0%, 20%);
//       --highlight-color: hsl(0, 0%, 60%);
//       --light-border-color: hsl(0, 0%, 30%);
//       --light-text-color: rgb(199, 199, 204);
//       --link-color: rgb( 100, 210, 255);
//       --link-color-visited: hsl(250, 100%, 60%);
//       --main-background-color: rgb(28, 28, 30);
//       --main-text-color: rgb(229, 229, 234);
//       --medium-text-color: hsl(0, 0%, 70%);
//       --underline-color: hsl(0, 0%, 50%); 
//     }

//     html[data-theme="light"] {
//   --bold-color: rgb(0, 0, 0);
//   --box-background-color: rgb(249, 249, 250);
//   --highlight-color: hsl(0, 0%, 80%);
//   --light-border-color: rgb(230, 230, 230);
//   --light-text-color: rgb(72, 72, 74);
//   --link-color: rgb(0, 112, 201);
//   --link-color-visited: hsl(250, 100%, 37%);
//   --main-background-color: rgb(255, 255, 255);
//   --main-text-color: rgb(51, 51, 51);
//   --medium-text-color: hsl(0, 0%, 20%);
//   --sidebar-color: hsl(0, 0%, 90%);
//   --underline-color: hsl(0, 0%, 60%);
//   } 
// }