.shop {

 h1{
    font-family: $font-roboto;
    font-weight: 300;
  }
 h5{
    font-family: $font-roboto;
    font-weight: 400;
    color: $info;
  }
}


@media screen and (max-width: 768px) {
    .shop {

        h1{
           font-family: $font-roboto;
           font-size: 4rem;
           line-height: 4rem;
           font-weight: 300;
         }
        h5{
           font-family: $font-roboto;
           font-weight: 400;
           color: $info;
           font-size: 1.1rem;
           line-height: 1.3rem;
         }
    }
}       


.modal-body {
  overflow-x: auto;
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    text-align: center;
    vertical-align:middle;
    @media screen and (max-width: 768px) {
        padding: 3px !important; // currently 8px
        font-size: 50%;
    }
  }
}
