<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>PIXELABS</title>

<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">

<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto+Slab:wght@400;500&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicon/pixelabs.webmanifest' | relative_url }}">

<link rel="stylesheet" href="{{ 'assets/css/baguetteBox/baguetteBox.css' | relative_url }}">


{% seo %}