<!-- Fixed navbar -->
<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light" id="main-nav">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">PIXELABS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdownPortfolio">
            <a class="dropdown-item" href="{{ 'portfolio/photography/'  | relative_url}}">Photography</a>
            <a class="dropdown-item" href="{{ 'portfolio/crafts/'  | relative_url}}">Crafts</a>
            <a class="dropdown-item" href="{{ 'portfolio/digital/'  | relative_url}}">Digital</a>
          </div>
        </li>
        
        <li class="nav-item {%- if page.url == "/shop.html" -%}active{%- endif -%}">
          <a class="nav-link" href="{{ 'shop/front/'  | relative_url}}">Shop</a>
        </li>






      </ul>
    </div>
  </nav>
</header>
