<!DOCTYPE html>
<html lang="en" id="page-top">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <!-- Page Content -->
    <main role="main" class="container container-sm pt-10">

      
      <!-- Project Item Row -->
      <div class="row rounded p-3 mx-1  justify-content-center">
        <div class="col-md-6 col-8 my-3">
          <img class="project-image rounded-circle img-fluid" src="/assets{{page.permalink}}/{{page.project_image}}" alt="project cover">
        </div>
        
            <div class="col-md-6 col-12">
            <!-- Project Item Heading -->
            <h1 class="my-3 text-roboto-300">{{page.short_title | upcase }}<h1>
            <h2></h2>
            {{content}}

    </main>
    <!-- /.container -->
    {% include footer.html %}
    
  </body>
</html>