<!DOCTYPE html>
<html lang="en" id="page-top">
  {% include head.html %}
  <body>
    {% include navbar.html %}

    <!-- Page Content -->
    <main role="main" class="container container-sm pt-10">

        <!-- Project Item Heading -->
        <h1 class="my-4">{{page.title}}
        <span style="font-size: 70%;" class="text-muted"><small>{{page.description}}</small></span></h1>
        
  
        <!-- Project Item Row -->
        <div class="row bg-white rounded p-3 shadow-sm m-0">
            <div class="col-md-6 my-3">
              <img class="img-fluid rounded" src="/assets{{page.permalink}}/{{page.project_image}}" alt="project cover">
            </div>

            {{content}}

    </main>
    <!-- /.container -->
    {% include footer.html %}
    <script src="{{ 'assets/js/videoCarousel.js' | relative_url }}" async></script>
  </body>
</html>